<div class="bg-info component-container">
  <div class="row text-center">
    <div class="col-xs-2 col-xs-offset-5 form-goup">
      <select class="form-control format-select" onchange={{action (mut dataFormat) value="target.value"}}>
        {{#each dataFormats as |dataFormatChoice|}}
          <option value={{dataFormatChoice}} selected={{eq dataFormat dataFormatChoice}}>{{dataFormatChoice}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="text-container">
    {{textarea value=processedData class="download-textarea"}}
  </div>
  <div class="row text-center">
    <button class="btn btn-primary" {{action "downloadFile"}}>Download</button>
  </div>
</div>
