
{{#if isEditing}}
  <h2>{{participant.firstName}} {{participant.lastName}}</h2>
  <p>Email: {{participant.username}}</p>
  <p>Kids: {{participant.kids}}</p>
  <p>Experiments: {{participant.experiments}}</p>
  <button {{action "stopEditing"}}>Cancel</button>
  <button {{action "stopEditing"}}>Save</button>
{{else}}
  <h2>{{participant.firstName}} {{participant.lastName}}</h2>
  <p>Email: {{participant.username}}</p>
  <p>Kids: {{participant.kids}}</p>
  <p>Experiments: {{participant.experiments}}</p>
  <button {{action "edit"}}>Edit</button>
{{/if}}
