<div class="bg-info export-tool-container">
    <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-4 form-goup">
            <select class="form-control export-tool-select" onchange={{action (mut dataFormat) value="target.value"}}>
                {{#each-in dataFormats as |label|}}
                    <option value={{label}} selected={{eq dataFormat label}}>{{label}}</option>
                {{/each-in}}
            </select>
        </div>
    </div>
    <div class="export-tool-textarea-container" open=>
        
        {{#if processedData.show}}
            {{textarea value=processedData.data class="export-tool-textarea"}}
        
        {{else}}
            {{textarea value=processedData.message class="export-tool-textarea"}}

        {{/if}}
    </div>
    <div class="row text-center">
        <button class="btn btn-primary" {{action "downloadFile"}}>Download</button>
    </div>
</div>
