<div class="col-md-6">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Participant ID<i class="fa fa-sort btn" {{action "updateSortBy" "profileId"}}></i></th>
        <th>Date<i class="fa fa-sort btn" {{action "updateSortBy" "modifiedOn"}}></i></th>
      </tr>
    </thead>
    <tbody>
      {{#each sessions as |session|}}
        <tr class="clickable-row" {{action 'updateData' session}}>
          <td>{{session.anonProfileId}}</td>
          <td>{{moment-format session.modifiedOn 'MM/DD/YYYY'}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="col-md-6">
  {{export-tool data=participantSession mappingFunction=mappingFunction}}
</div>
