<p>
    There are {{model.meta.total}} total completed responses. Viewing page {{page}} of {{totalPages}}
</p>
{{participant-data sessions=model mappingFunction=sanitizeProfileId}}

{{pagination-pager current=page count=totalPages}}
