<div class="experiment-record">

  <h2>Document {{document.id}} / {{document.shortId}}</h2>
  Raw document: {{document}}<br>
  Title: {{document.title}}<br>
  Begin date: {{document.beginDate}}<br>

  <h3>History data</h3>
    <p>Raw history set: {{document.history}}</p>
    List of history entries:
    {{#each document.history as |hist|}}
      <ul>
        <li>{{hist}}</li>
      </ul>
    {{/each}}

  <hr>
</div>
