<div class="container-fluid">

{{#if isNotLogin}}
  <div class="row">
    {{#if isExpanded}}
      <nav class="collapse navbar navbar-collapse col-md-2">
        <div class="collapse navbar-collapse">
          <div>
            <a class="fa fa-angle-left fa-pull-right" {{action "toggleMenu"}}></a>
          </div>
          <div>
            <div class="fa fa-flask fa-5x text-center"></div>
            Experimenter
          </div>
          
          <ul class="nav nav-pills nav-stacked">
            <li> {{#link-to 'dashboard' class="fa fa-th-list"}} Experiments{{/link-to}} </li>
            <li> {{#link-to 'participants' class="fa fa-users"}} Participants{{/link-to}} </li>
            <li> {{#link-to 'creator' class="fa fa-wrench"}} Create Experiment{{/link-to}} </li>
            <li> {{#link-to 'testmodel' class="fa fa-smile-o"}} Model test page{{/link-to}} </li>
          </ul>
          <div> {{#link-to 'settings' class="fa fa-user"}} Profile Settings{{/link-to}} </div>
          <div><a class="fa fa-user"{{action 'invalidateSession'}}>Logout</a></div>
        </div>
      </nav>
      <div class="col-md-10">
        {{outlet}}
      </div>
    {{else}}
      <nav class="collapse navbar navbar-collapse col-md-1">
        <div class="collapse navbar-collapse" id="menu-expand">
          <div>
            <a class="fa fa-angle-right fa-pull-right" {{action "toggleMenu"}}></a>
          </div>
          <div class="fa fa-flask fa-2x fa-align-center"></div>
          <ul class="nav nav-pills nav-stacked">
            <li> {{#link-to 'dashboard' class="fa fa-th-list"}}{{/link-to}} </li>
            <li> {{#link-to 'participants' class="fa fa-users"}}{{/link-to}} </li>
            <li> {{#link-to 'creator' class="fa fa-wrench"}}{{/link-to}} </li>
            <li> {{#link-to 'testmodel' class="fa fa-smile-o"}}{{/link-to}} </li>
          </ul>
          <li class="fa fa-user"> {{#link-to 'settings'}}{{/link-to}} </li>
          <li><a class="fa fa-user"{{action 'invalidateSession'}}></a></li>
        </div>
      </nav>
      <div class="col-md-11">
        {{outlet}}
      </div>

    {{/if}}
  </div>

{{else}}
  {{outlet}}
{{/if}}

</div>
