<div class="container-fluid">

{{#if isNotLogin}}
  <div class="row">
    {{#if isExpanded}}
      <nav class="collapse navbar navbar-collapse col-md-3">
        <div>
          <a class="fa fa-angle-left fa-pull-right" id="sub-navigation" {{action "toggleMenu"}}></a>
        </div>
        <div class="text-center" id="logo-title">
          <div class="fa fa-flask fa-2x" id="logo"></div>
          Experimenter
        </div>
        
        <div class="row" id="main-navigation">
          {{#link-to 'experiments' class="fa fa-th-list increase" id="main-navigation"}} Experiments{{/link-to}}
        </div>
        <div class="row" id="main-navigation">
          {{#link-to 'participants' class="fa fa-users increase" id="main-navigation"}} Participants{{/link-to}}
        </div>
        <div class="row" id="sub-navigation"> 
          {{#link-to 'settings' class="fa fa-user increase" id="sub-navigation"}} My Profile{{/link-to}}
        </div>
        <div class="row" id="sub-navigation">
          <a class="fa fa-sign-out increase" id="sub-navigation" {{action 'invalidateSession'}}> Logout</a>
        </div>
      </nav>
      <div class="col-md-9">
        {{outlet}}
      </div>
    {{else}}
      <nav class="collapse navbar navbar-collapse col-md-1">
        <div>
          <a class="fa fa-angle-right fa-pull-right" id="sub-navigation" {{action "toggleMenu"}}></a>
        </div>
        <div class="fa fa-flask fa-3x fa-align-center text-center" id="logo-title"></div>
        <div class="row text-center" id="main-navigation">
          {{#link-to 'experiments' class="fa fa-th-list" id="main-navigation"}}{{/link-to}}
        </div>
        <div class="row text-center" id="main-navigation">
          {{#link-to 'participants' class="fa fa-users" id="main-navigation"}}{{/link-to}}
        </div>
        <div class="row text-center" id="sub-navigation">
          {{#link-to 'settings' class="fa fa-user" id="sub-navigation"}}{{/link-to}}
        </div>
        <div class="text-center" id="sub-navigation">
          <a class="fa fa-sign-out" id="sub-navigation" {{action 'invalidateSession'}}></a>
        </div>
      </nav>
      <div class="col-md-11">
        {{outlet}}
      </div>

    {{/if}}
  </div>
{{else}}
  {{outlet}}
{{/if}}

</div>
