<div class="container-fluid">

{{#if isNotLogin}}
  <div class="row">
    {{#if isExpanded}}
      <div class="menu col-md-2">
        <div>
          <a class="fa fa-angle-left fa-pull-right fa-2x sub-navigation" {{action "toggleMenu"}}></a>
        </div>
        <div class="text-center logo-title">
          <div class="fa fa-flask fa-2x logo"></div>
          Experimenter
        </div>
        <div class="title-divider"></div>
        <div class="row main-navigation">
          {{#link-to 'experiments' class="fa fa-th-list increase main-navigation clickable"}} Experiments{{/link-to}}
        </div>
        <div class="row main-navigation">
          {{#link-to 'participants' class="fa fa-users increase main-navigation clickable"}} Participants{{/link-to}}
        </div>
        <div class="nav-divider"></div>
        <div class="row sub-navigation"> 
          {{#link-to 'settings' class="fa fa-user increase sub-navigation"}} My Profile{{/link-to}}
        </div>
        <div class="row sub-navigation">
          <a class="fa fa-sign-out increase sub-navigation" {{action 'invalidateSession'}}> Logout</a>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2 content">
        {{outlet}}
      </div>
    {{else}}
      <div class="menu col-md-1">
        <div class="row text-center">
          <a class="fa fa-angle-right fa-2x sub-navigation" {{action "toggleMenu"}}></a>
        </div>
        <div class="logo-divider"></div>
        <div class="row text-center"> 
          <span class="fa fa-flask logo-title"></span>
        </div>
        <div class="logo-divider"></div>
        <div class="row text-center main-navigation">
          {{#link-to 'experiments' class="fa fa-th-list main-navigation clickable"}}{{/link-to}}
        </div>
        <div class="row text-center main-navigation">
          {{#link-to 'participants' class="fa fa-users main-navigation clickable"}}{{/link-to}}
        </div>
        <div class="nav-divider"></div>
        <div class="row text-center sub-navigation">
          {{#link-to 'settings' class="fa fa-user sub-navigation"}}{{/link-to}}
        </div>
        <div class="text-center sub-navigation">
          <a class="fa fa-sign-out sub-navigation" {{action 'invalidateSession'}}></a>
        </div>
      </div>
      <div class="col-md-11 col-md-offset-1 content">
        {{outlet}}
      </div>

    {{/if}}
  </div>
{{else}}
  {{outlet}}
{{/if}}

</div>
