<h2> Experiments <button class="btn btn-primary pull-right" {{action "toggleModal"}}>New Experiment</button> </h2>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  attachment="center"
                  translucentOverlay=true
                  container-class="col-xs-5"}}
    <div class="row">
        <form role="form" class="col-xs-12">
            <div class="form-group">
                <label>Title of New Experiment:</label>
                {{input type="text" name="titleField" class="form-control"}}
            </div>

            <button class="btn btn-danger" {{Action "toggleModal"}}>Cancel</button>
            {{#link-to "experiment" experiment class="btn btn-success" }}Continue{{/link-to}}

        </form>    
    </div>
  {{/modal-dialog}}
{{/if}}
<div class="row text-center">
	{{input type="text" placeholder="Filter" size="50" enter="updateSearch" name="searchBar"}}
</div>
<div class="row text-center button-block">
	<button class="btn btn-default" {{action "selectStatusFilter" "Active"}}>Active</button>
	<button class="btn btn-default" {{action "selectStatusFilter" "Draft"}}>Draft</button>
	<button class="btn btn-default" {{action "selectStatusFilter" "Archive"}}>Archive</button>
	<button class="btn btn-default" {{action "resetParams"}}>All</button>
</div>
<div class="row">
  <div class="col-xs-8">
    <strong>Title </strong><i class="fa fa-sort btn" {{action "sortingMethod" "title"}}></i>
  </div>
	<div class="col-xs-2 text-center">
      <strong>Begin Date </strong><i class="fa fa-sort btn" {{action "sortingMethod" "beginDate"}}></i>
    </div>
	<div class="col-xs-2 text-center">
      <strong>End Date </strong><i class="fa fa-sort btn" {{action "sortingMethod" "endDate"}}></i>
    </div>
</div>
<hr>
<div class="row results">
  {{outlet}}
</div>
