<h4> TODO: breadcrumbs </h4>

<div class="col-md-12">
  <div class="row">
    <h3> {{model.title}}     <button class="btn btn-default pull-right"><i class="fa fa-pencil-square-o"></i> Edit Details</button> </h3>
    <br />
  </div>
  <div class="row">
    <p> {{model.description}} </p>
  </div>
  <div class="row">
    <label>Participant Eligibility: </label> {{model.eligibilityString}}
  </div>
  <div class="row">
    <label>Begin Date: </label> {{moment-format model.beginDate 'MMMM D, YYYY'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label>End Date: </label> {{moment-format model.endDate 'MMMM D, YYYY'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label>Last Edited: </label> {{moment-format model.lastEdited 'MMMM D, YYYY'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <br />
  </div>
  <div class="row">
    <label>Status:</label>  {{model.active}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{#if (eq model.active 'Active')}}
    <button class="btn btn-danger"> Stop Experiment Now </button>
    {{/if}}
    {{#if (eq model.active 'Draft') }}
    <button class="btn btn-success"> Start Experiment Now </button>
    {{/if}}
    {{#if (eq model.active 'Archived') }}
    <button class="btn btn-primary"> Re-run Experiment Now </button>
    {{/if}}
    <br />
    <br />
    <br />
  </div>
  <div class="row">
    <div class="btn col-md-4">
      <div class="well">
        <center>
          <p><i class="increase-4 fa fa-list"></i></p>
          <h4> Build Experiment </h4>
          <p> Add/Modify experiment components </p>
        </center>
      </div>
    </div>
    <div class="btn col-md-4">
      <div class="well">
        <center>
          <p><i class="increase-4 fa fa-file-text-o"></i></p>
          <h4> View <strong>{{model.sessions.length}}</strong> Responses </h4>
          <p> Inspect responses from studies </p>
        </center>
      </div>
    </div>
    <div class="btn col-md-4">
      <div class="well">
        <center>
          <p><i class="increase-4 fa fa-files-o"></i></p>
          <h4> Clone Experiment </h4>
          <p> Copy experiment structure and details </p>
        </center>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-danger" disabled={{model.isActive}} > Delete this Experiment</button>  {{#if model.isActive }}&nbsp;&nbsp;You can't delete active experiments {{/if}}
    </div>
  </div>
</div>
