<h1>Project Settings</h1>
{{!--TODO: Add permissions widget that shows permission and optionally updates entire list --}}


<h2>Permissions / access controls</h2>
<p>
    Add user to:
    <select onchange={{action (mut collection) value="target.value"}}>
        <option value="" selected={{eq collection ''}}>Admin access for project: {{namespaceId}}</option>
        {{#each availableCollections as |name|}}
            <option value="{{name}}" selected={{eq collection name}}>Read access to collection: {{name}}</option>
        {{/each}}
    </select>
</p>
<div class="row">
    <div class="col-md-10">
        <p>

            {{#if collection}}
                This interface allows you to allow {{permissionsLevel}}-level access to the {{collection}} collection
                of documents, for a specified user. Unlike admin-level access, these permissions do not require an
                admin account- they can be granted to a specific website user, such as a study participant. If
                you log in with username "officecat", that is the value you should enter under user selector.
                <br>
                Grant these powers sparingly, as the specified user will be able to see all records of the specified type.
            {{else}}
                This interface allows you to specify which OSF accounts are allowed to access this site. To get the
                id for an OSF user, visit <a target="_blank" rel="noopener" href={{concat osfURL '/search/'}}>the OSF search page</a>,
                search for the user you are looking for by name, and click the link that corresponds with that person.
                From that page, look in the URL and grab the 5-6 character id from that url; e.g. for
                {{concat osfURL '/ab34rt/'}} the user id is 'ab34rt'.
                <br>
                <br>
                Alternatively, ask that user to log into the OSF and visit his or her
                <a target="_blank" rel="noopener" href={{concat osfURL '/profile/'}}> profile page</a>
                and to copy the user id from the 'Public Profile' link.
            {{/if}}

        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-10">
        <p><em>Enter the user id in the format specified above, one per line.</em></p>
        {{permissions-editor
            permissions
            displayFilterPattern=userPattern
            newPermissionLevel=permissionsLevel
            changePermissions=(action 'changePermissions')}}
    </div>
</div>

{{outlet}}
